.git
.gitignore
.gitattributes
.editorconfig
.env
.env.example
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log
*.zip
*.sql
README.md
phpunit.xml
mai-app-update.zip
mdi-app-local.sql
